@import '../abstracts/colors';

.btn {
  background: transparent;
  border: 2px solid;
  border-radius: 2.5rem;
  display: inline-block;
  font-weight: $body-weight;
  padding: 1rem 3rem;
  transition: all .2 ease-in-out;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary-dark {
  background: $primary-light;
  color: $primary-dark;

  &:hover {
    background: $primary-dark;
    color: $primary-light;
  }
}

.btn-primary-light {
  color: $primary-light;
  
  &:hover {
    background: $primary-light;
    color: $primary-dark;
  }
}

.btn-secondary {
  background: $primary-light;

  &:hover {
    background: $secondary-light;
    color: $primary-dark;
  }
}