@import '../abstracts/colors';

@mixin btn {
  background: transparent;
  border: 2px solid;
  border-radius: 2.5rem;
  display: inline-block;
  font-size: $body-size-large;
  font-weight: $body-weight;
  padding: $space-xxs $space-m;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.btn-primary-dark {
  @include btn;
  background: $primary-light;
  border-color: $primary-light;
  color: $primary-dark;
  transition: all .3s ease-in-out;

  &:hover {
    background: $primary-dark;
    color: $primary-light;
  }
}

.btn-primary-light {
  @include btn;
  color: $primary-light;
  transition: all .3s ease-in-out;
  
  &:hover {
    background: $primary-light;
    border-color: $primary-light;
    color: $primary-dark;
  }
}

.btn-secondary {
  @include btn;
  background: $primary-light;
  transition: all.3s ease-in-out;

  &:hover {
    background: $secondary-light;
    color: $primary-dark;
  }
}