@import '../abstracts/radius';
@import '../abstracts/colors';

.btn {
  background: transparent;
  border: 2px solid;
  border-radius: $primaryRadius;
  display: inline-block;
  font-weight: $bodyWeight;
  padding: 1rem 3rem;
  transition: all .2 ease-in-out;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary-dark {
  background: $primaryLight;
  color: $primaryDark;

  &:hover {
    background: $primaryDark;
    color: $primaryLight;
  }
}

.btn-primary-light {
  background: $primaryDark;
  color: $primaryLight;
  
  &:hover {
    background: $primaryLight;
    color: $primaryDark;
  }
}

.btn-secondary {
  background: $primaryLight;

  &:hover {
    background: $secondaryLight;
    color: $primaryDark;
  }
}