@mixin form-field {
  background: transparent;
  border: none;
  border-bottom: 1px solid $primary-light;
  color: $primary-light;
  font-size: $body-size-large;
  padding: $space-s $space-xxs;
  transition: all .1s ease-in-out;

  &::placeholder {
    color: $primary-light;
    transition: all .2s ease-in-out;
  }

  &:hover, &:focus {
    border-color: $secondary-light;
    cursor: pointer;

    &::placeholder {
      opacity: 1;
    }
  }
}

.contact-us-form {
  display: flex;
  flex-direction:column;

  input {
    @include form-field;
  }

  textarea {
    @include form-field;
    padding-bottom: $space-l;
  }

  button {
    width: 13rem;
    margin-top: $space-s;
    padding: $space-xs 0;
  }
}