.xl-heading {
  font-size: $xlHeadingSize;
  font-weight: $headingWeight;
}

.large-heading {
  font-size: $largeHeadingSize;
  font-weight: $headingWeight;
}

.medium-heading {
  font-size: $mediumHeadingSize;
  font-weight: $headingWeight;
}

.small-heading {
  font-size: $smallHeadingSize;
  font-weight: $headingWeight;
}

