.xl-heading {
  font-size: $xlHeadingSize;
  font-weight: $headingWeight;
  line-height: $xlHeadingLine;
}

.large-heading {
  font-size: $largeHeadingSize;
  font-weight: $headingWeight;
  line-height: $largeHeadingLine;
}

.medium-heading {
  font-size: $mediumHeadingSize;
  font-weight: $headingWeight;
  line-height: $mediumHeadingLine;
}

.small-heading {
  font-size: $smallHeadingSize;
  font-weight: $headingWeight;
  line-height: $smallHeadingLine;
}

