 @import '../abstracts/colors';

 .nav-item-header {
    transition: color $transition02s;
  
  &:first-child {
    padding-right: $space-m;
  }

    &:hover {
      color: $primary-stand-out;
    }
  }

  @media(max-width: 500px) {
    .nav-desktop-tablet {
      display: none;
    }
  }



