 @import '../abstracts/colors';

 .nav-item {
    transition: color .2s ease-in-out;
  
  &:first-child {
    padding-right: 3rem;
  }

    &:hover {
      color: $primary-stand-out;
    }
  }

  @media(max-width: 500px) {
    .nav-desktop-tablet {
      display: none;
    }
  }



