// Colors
$primary-dark: #014E56;
$primary-light: #fff;
$primary-stand-out: #f67e7e;

$secondary-light: #79c8c7;
$secondary-dark-light: #2c6269;
$secondary-dark: #004047;
$secondary-darker: #012f34;
$secondary-darkest: #002529;

