// Colors
$primaryDark: #014E56;
$primaryLight: #fff;
$primaryStandOut: #f67e7e;

$secondaryLight: #79c8c7;
$secondayDarkLight: #2c6269;
$secondaryDark: #004047;
$secondaryDarker: #012f34;
$secondayrDarkest: #002529;

