.stand-out-word {
  color: $primary-stand-out;
}

.stand-out-word-2 {
  color: $secondary-light;
}

.block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

@media (max-width: 500px) {
  .desktop {
    display: none;
  }
} 