.about-bottom-section {
  background-image: url('./../images/bg-pattern-about-4.svg');
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-color: $secondary-darker;
}

.about-bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 13rem 0;

  h3 {
    @include heading-medium;
    text-align: center;
    padding-bottom: $space-xl;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin-right: $space-xl;

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

// Tablet
@media(max-width: 1024px) {
  .about-bottom-section {
    background-position: 0% -50%;
  }

  .about-bottom-content {
    padding: $space-xxl $space-m;
   
    h3 {
      font-size: 3.2rem;
      padding-bottom: $space-m;
    }
  }
}

// Bigger Tablet
@media(min-width: 1024px) {
  .about-middle-section {
    background-position: -12% 0%, 100% 100%;
  }
}

// sub iPhone X
@media(max-width: 500px) {
  .about-bottom-section {
    background-position: -50% -15%;
  }

  .about-bottom-content {
    padding: $space-xl $space-xxs;
    h3 {
      font-size: 3.2rem;
      padding-top: $space-xxs;
    }
    ul {
      flex-direction: column;
  
      li {
        margin-right: 0;
        margin: $space-m 0;
        max-width: 15rem;
      }
    }
  }
}

// iPhone X
@media(max-width: 375px) {
  .about-bottom-section {
    background-position: -58% -18%;
  }
  .about-bottom-content {   
    h3 {
      padding-top: 5px;
    }
  }

}

// Galaxy 
@media(max-width: 360px) {
  .about-bottom-section {
    background-position: -65% -15%;
  }

  .about-bottom-content {
    padding: $space-xl 0;

    h3 {
      padding-top: $space-s;
    }
  }
}