.about-top-section {
  background-image: url('./../images/bg-pattern-about-1-mobile-nav-1.svg');
  background-position: 105% 100%;
  background-repeat: no-repeat;
}

.about-top-content {
  display: flex;
  justify-content: space-between;
  padding-top: $space-l;
  padding-bottom: $space-xxl;

  .top-heading {
   @include heading-medium;
    margin-top: $space-s;
  }

  .line {
    height: 4px;
    width: $space-l;
    background: $primary-stand-out;
  }

  .paragraph {
    @include body-large;
    margin-top: $space-m;
    max-width: 78rem;
  }
}
