.about-middle-section {
  background-image: url('./../images/bg-pattern-about-2-contact-1.svg'), url('./../images/bg-pattern-home-4-about-3.svg');
  background-position: -10rem 0%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-color: $secondary-dark;

}

.about-middle-content {
  padding: $space-xxl 0;
  h3 {
    @include heading-medium;
    text-align: center;
  }

  .directors-grid {
    display: grid;
    column-gap: $space-m;
    grid-template-columns: repeat(3, 30rem);
    justify-content: center;
    row-gap: $space-l;

    padding: $space-l 0;
    width: 100%;
  }
}


@media(max-width: 1024px) {

  .about-middle-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 3.2rem;
    }

    .directors-grid {
      grid-template-columns: repeat(2, 30rem);
      row-gap: $space-xl;
    }
  }
}

// Iphone sub X
@media(max-width: 500px) {
  .about-middle-section {
    background-position: -10rem -10rem, 100% 100%;
  }

  .about-middle-content {
    padding: $space-xl 0;

    h3 {
      padding-top: $space-xxs;
    }

    .directors-grid {
      column-gap: none;
      grid-template-columns: repeat(1, 90vw);
      padding: $space-m 0;
      row-gap: $space-l;
    }
  }
}

