.about-top-content {
  display: flex;
  justify-content: space-between;
  padding-top: $space-l;
  padding-bottom: $space-xxl;

  h2 {
   @include heading-medium;
    margin-top: $space-s;
  }

  .line {
    height: 4px;
    width: $space-l;
    background: $primary-stand-out;
  }

  .paragraph {
    @include body-large;
    margin-top: $space-m;
    max-width: 78rem;
  }
}


@media(min-width: 1460px) {
  .about-top-section {
    background-image: url('./../images/bg-pattern-about-1-mobile-nav-1.svg');
    background-position: 106% 100%;
    background-repeat: no-repeat;
  }
}

// Tablet
@media(max-width: 1024px) {
  .about-top-section {
    background-position: 120% 100%;
  }

  .about-top-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .line {
      display: none;
    }

    .paragraph {
      max-width: 55rem;
      text-align: center;
    }
  }
}


// sub Iphone X
@media(max-width: 500px) {
  .about-top-section {
    background-position: 150% 135%;
  }

  .about-top-content {

    h2 {
      margin-top: 0;
    }

    .paragraph {
      padding: 0 $space-xs;
    }
  }
}

// iPhone X
@media(max-width: 375px) {
  .about-top-section {
    background-position: 157% 133%;
  }
}

// Galaxy
@media(max-width: 360px) {
  .about-top-section {
    background-position: 162% 133%;
  }
}

// Mobile landscape
@media (max-height: 500px) {

  .about-top-section {
    background-position: 122% 130%;
  }

  .about-top-content {
    padding-top: $space-xxs;
    padding-bottom: 20rem;

    h2 {
      padding-top: 0;
    }
  }
}
