.main-container {
  padding-top: 15rem;
}

@media (max-width: 500px) {
  .main-container {
    padding-top: 10rem;
  }
}

.bg-img-container {
  margin: 0 auto;
  max-width: 95vw;
  width: 155rem;
  z-index: 1;
}

.content-container {
  position: relative;
  margin: 0 auto;
  max-width: 95vw;
  padding: 0 $space-s;
  width: 125rem;
} 



