.footer {
  display: flex;
  align-items: center;

  background: $secondary-darkest;
  min-height: 19rem;
  padding: $space-m 0;
}

// implemented on contact page if innerWidth > 850 && innerHeight > 1050 - se Footer component
.bottom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.logo-footer {
  grid-area: logo;
}
.nav-footer {
  grid-area: nav-items;
}

.adress {
  grid-area: adress;
}

.social {
  display: flex;
  grid-area: social; 
}

.copyright {
  grid-area: copyright;
}

.footer-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo adress social social social"
  "logo adress social social social"
  "nav-items adress copyright copyright copyright";
  width: 100%;

  .social {
    justify-self: end;
    padding-bottom: $space-m;
  }

  .copyright {
    justify-self: end;
  }

  .social-item {
    &:nth-child(2) {
      margin: 0 $space-s;
    }
  }

  .nav-item-footer {
    transition: color $transition02s;

    &:hover {
      color: $primary-stand-out;
    }

    &:first-child {
      margin-right: $space-m;
    }
  }

  .adress, .copyright {
    color: transparentize($color: $primary-light, $amount: .2);
    letter-spacing: 1px;
    // line-height: 2.2rem;
  } 
}

@media(max-width: 1024px) {
  .footer-content {
    grid-template-areas: 
    "logo adress adress adress adress"
    "nav-items adress adress adress adress"
    "social copyright copyright copyright copyright";
  
    .adress {
      justify-self: end;
      padding-bottom: $space-m;
      text-align: right;
    }

    .social {
      justify-self: start;
      padding-bottom: $space-xxs;

      .social-item {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .copyright {
      justify-self: end;
    }
  }
}

@media(max-width: 500px) {
  .footer-content {
    grid-template-areas: 
    "logo"
    "nav-items"
    "adress"
    "social"
    "copyright";

    justify-content: center;
    text-align: center; 

    .logo-footer {
      margin: 0 auto;
      width: 10rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    .nav-footer {
      padding: $space-s 0;
    }

    .social, .adress {
      justify-content: center;
      justify-self: center;
      text-align: center;
      width: 100%;
    }
  }
}
