.main-header {
  display: flex;
  justify-content: center;
  align-items:center;

  background: transparentize($color: $primary-dark, $amount: .009);
  height: 12rem;
  max-width: 100vw;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.scroll-style {
  box-shadow: 1px 1px 10px 2px $secondary-darkest;
}

.header-content {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.logo{
  padding-right: $space-l;
}

.logo-nav {
  display: inherit;
  align-items: center;
}

.hamburger {
  display: none;
}

// mobile
@media(max-width: 500px) {
  .main-header {
    height: 8rem;
    padding-top: $space-s;
  }
}

// mobile landscape
@media(max-height: 500px) {
  .main-header {
    height: 8rem;
  }

  .header-content {
    padding: $space-m 0;
  }

  .hamburger {
    display: block;
  }
}





