.header-content {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: $space-l 0;

}

.logo-nav {
  display: inherit;
  align-items: baseline;
}

.hamburger {
  display: none;
}

@media(max-width: 500px) {

  // FIXED HEADER ON SCROLL

  .header-content {
    padding: $space-m 0;
  }

  .hamburger {
    display: block;
  }
}


