@import './typogrophy';
@import './abstracts/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background: $primaryDark;
  box-sizing: border-box;
  color: $primaryLight;
  font-family: $mainFont;
  font-size: $defaultBodySize;
  font-weight: $bodyWeight;
  line-height: $defaultBodyLine;
}

a {
  text-decoration: none;
  color: $primaryLight;
}

