@import './typogrophy';
@import './abstracts/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:before,
*:after {
 box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  position: relative;
}

body {
  background: $primary-dark;
  box-sizing: border-box;
  color: $primary-light;
  font-family: $main-font;
  font-size: $default-body-size;
  font-weight: $body-weight;
  height: 100%;
  line-height: $default-body-line;
  position: relative;
}

a {
  color: $primary-light;
  text-decoration: none;
}

