@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700&display=swap');

// Project Font
$main-font: 'Livvic', sans-serif;

// Headings
$heading-weight: 700;

$heading-line-xl: 10rem;
$heading-size-xl: 10rem;

$heading-line-large: 5.6rem;
$heading-size-large: 6.4rem;

$heading-line-medium: 4.8rem;
$heading-size-medium: 4.8rem;

$heading-line-small: 2.8rem;
$heading-size-samll: 1.8rem;

// Body
$body-weight: 600;

$body-line-large: 2.8rem;
$body-size-large: 1.8rem;

$default-body-line: 2.5rem;
$default-body-size: 1.5rem;

// small
$light-weight: 400;