@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap');

// Project Font
$mainFont: 'Livvic', sans-serif;

// Headings
$headingWeight: 700;

$xlHeadingLine: 10rem;
$xlHeadingSize: 10rem;

$largeHeadingLine: 5.6rem;
$largeHeadingSize: 6.4rem;

$mediumHeadingLine: 4.8rem;
$mediumHeadingSize: 4.8rem;

$smallHeadingLine: 2.8rem;
$smallHeadingSize: 1.8rem;

// Body
$bodyWeight: 600;

$largeBodyLine: 2.8rem;
$largeBodySize: 1.8rem;

$defaultBodyLine: 2.5rem;
$defaultBodySize: 1.5rem;