@mixin flex-end {
  justify-content: flex-end;
}

.home-middle-section {
  background-image: url('./../images/bg-pattern-home-3.svg');
  background-position: 106% 100%;
  background-repeat: no-repeat;
  background-color: $secondary-darker;

  .line {
    position: absolute;
    left: $space-s;
    top: 15rem;
    height: 4px;
    width: $space-l;
    background: $primary-stand-out;
  }
}

.home-middle-content {
  display: flex;
  justify-content: space-between;
  padding: 20rem 0;

  .pitch-item {
    @include flex-end;
  }

  .flex-item {
    flex: 1;
  }

  h3{
    font-size: 3.8rem;
    line-height: $heading-line-medium;
  }
}


@media (max-width: 1024px) {
  .home-middle-section {
    background-position: 118% 0%;

    .line {
      top: 8rem;
      left: $space-xl;
    }
  }

  .home-middle-content {
    flex-direction: column;
    justify-content: center;
    padding: $space-xxl $space-l;

    h3{
      margin-bottom: $space-xl;
      max-width: 60rem;
    }
  }
}

// sub iPhone X
@media (max-width: 500px) {
  .home-middle-section {
    background-position: 140% 0%;

    .line {
      top: 5rem;
    }
  }

  .home-middle-content {
    flex-direction: column;
    justify-content: center;
    padding: $space-xl 0;

    h3{
      margin-bottom: $space-l;
      max-width: 25rem;
    }
  }
}

// iPhone X
@media (max-width: 375px) {
  .home-middle-section {
    background-position: 160% 0%;
  }
}

// Galaxy
@media (max-width: 360px) {
  .home-middle-section {
    background-position: 170% 0%;
  }
}

// Mobile landscape
@media (max-height: 500px) {
  .home-middle-section {
    background-position: 125% 0%;
  }
}