.home-bottom-section {
  background-image: url('./../images/bg-pattern-home-4-about-3.svg'), url('./../images/bg-pattern-home-5.svg');
  background-position: 0% 0%, 100% 100%;
  background-repeat: no-repeat, no-repeat;

}

.home-bottom-content {
  display: flex;
  flex-direction: column;
  padding: $space-xxl $space-xl;


  h3 {
    @include heading-large;
    padding-bottom: $space-l;
    text-align: center;
  }
}


@media (max-width: 1025px) {
  .home-bottom-content {

    h3 {
      font-size: 3.8rem;
      line-height: 3.8rem;
      margin-top: $space-l;
    }   
  }
}

@media (max-width: 500px) {
  .home-bottom-content {
    padding: $space-xxs 0;

    h3 {
      padding-top: $space-l;
    }
  }
}