.home-middle-section {
  background-image: url('./../images/bg-pattern-home-3.svg');
  background-position: 105% 100%;
  background-repeat: no-repeat;
  background-color: $secondary-darker;

  padding: 20rem $space-xl;

  .line {
    position: absolute;
    left: $space-s;
    top: -$space-l;
    height: 4px;
    width: $space-l;
    background: $primary-stand-out;
  }
}

.home-middle-content {
  display: flex;
  justify-content: space-between;

  .flex-item {
    flex: 1;
  }

  .middle-heading {
    font-size: 3.8rem;
    line-height: $heading-line-medium;
  }
}


@media (max-width: 1025px) {

  .home-middle-section {
    background-position: 115% 0%;
  }

  .home-middle-content {
    flex-direction: column;
    justify-content: center;

    .middle-heading {
      margin-bottom: $space-xl;
      max-width: 60rem;
    }
  }
}

@media (max-width: 500px) {
  .home-middle-section {
    background-position: 140% 0%;
    padding: $space-xxl 0;
  }

  .home-middle-content {
    flex-direction: column;
    justify-content: center;

    .middle-heading {
      margin-bottom: $space-xl;
      max-width: 25rem;
    }
  }
}